<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MathGame2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <MathGame2.Properties.Settings>
            <setting name="OneNum" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TwoNum" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThreeNum" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Plus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Minus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Divide" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Multiply" serializeAs="String">
                <value>False</value>
            </setting>
        </MathGame2.Properties.Settings>
    </userSettings>
</configuration>